<!-- TODO image reload after update : the model should be updated with the new image, so img src attributes should fetch the new image-->
<script type="text/javascript">
	Utils.drawFields = new Array();
	Utils.idCounter = {};
	//this.fields = new Array();
	function switchEditMode(button) {
		button.disabled=true;
		$("#name").removeAttr('disabled');
		$("#description").removeAttr('disabled');
		$("#fileupload").removeAttr('disabled');
		$("#submitButton").removeAttr('disabled');
		if (Utils.drawFields) {
			for (var i = 0; i < Utils.drawFields.length; i++) {
				$("#" + Utils.drawFields[i]).removeAttr("disabled");
			}
		}
	}
	
	function redirect() {
		var form = document.getElementById('updateLocation');
		var formData = document.getElementById('formData');
		form.target = 'my_iframe'; //'my_iframe' is the name of the iframe
		var elements = $('#updateLocation').serializeArray();
		var data = new Object();
		data.properties = new Array();
		
		if (elements) {
			for (var i = 0; i < elements.length; i++) {
				var e = elements[i];
				if (e.name =='formData') {
					continue;
				}
				if (e.name == 'name') {
					data.name = e.value;
				} else if (e.name == 'description') {
					data.description = e.value;
				} else if (e.name == 'id') {
					data.id = e.value;
				} else {
					data.properties.push(e);
				}
			}
		}
		
		formData.setAttribute('value', toJson(data));
	
		form.submit();

		var iFrame = document.getElementById("my_iframe");
		var loading = document.getElementById("loading");
		iFrame.style.display = "none";
		iFrame.contentDocument.getElementsByTagName("body")[0].innerHTML = "";
		loading.style.display = "inline";
		checkComplete();
	}

	var checkComplete = function() {
		var iFrame = document.getElementById("my_iframe").contentDocument.getElementsByTagName("body")[0];
		var loading = document.getElementById("loading");

		if (iFrame.innerHTML == "") {
			setTimeout(checkComplete, 1000);
		} else {
			if (iFrame.innerHTML && iFrame.innerHTML.indexOf("success") != -1) {
				loading.style.display = "none";
			} else {
				loading.style.display = "none";
				var errorCode = Utils.getErrorCode(iFrame.innerHTML);
				var scope = angular.element($('#formBody')).scope();
				if (451 == errorCode) {
					document.getElementById("errorMessage").innerHTML = "Снимката надвишава максималния разрешен размер от 2MB.";
				} else {
					console.log("Error during update of location : " + errorCode);
					alert("Грешка по време на промяна на обект.\n Моля свържете се със системен програмист." );
				}
			}
		}
	};
	
	function toJson(data) {
		return encodeURIComponent(JSON.stringify(data));
	};
	$(document).ready(function() {
		$.ajax({
			url : "api/v1/propertygroups?excludeConnectionType=CHILD"
		}).done(function(data) {
			var callback = function() {
				$("#formBody").append(Utils.draw(data, Utils.currentLocation, true, Utils.drawFields, true));
				showAdditionalChildAttributes(Utils.drawFields);
			}
			var scope = angular.element($("#description")).scope();
			var location = scope.getLocation(window.location.hash, callback);
		});
	});
	function showAdditionalChildAttributes(fields) {
		if (fields) {
			for (var i = 0; i < fields.length; i++) {
				if ($("#" + fields[i]).attr('onchange')) {
					$("#" + fields[i]).change();
				}
			}
		}
	}
	function callshowHideChild(o) {
		console.log(o);
		var selectedId = o.selectedIndex;
		var rawData = o[selectedId].id;
		var metadata = new Utils.Metadata(rawData);
		var isChild = metadata.isChild();
		var uiControlId = metadata.parentPropertyGroupsId;
		var scope = angular.element($("#updateLocation")).scope();
		var hash = window.location.hash;
		var locationId = hash.substring(hash.indexOf("=") + 1);
		scope.showHideChild(metadata.childPropertyGroupId, isChild, uiControlId, locationId, true, Utils.drawFields, false);
	}
</script>
<body>
	<div class="panel panel-default">
		<div class="panel-heading" id="myTitle" name="myTitle">
			<span>Детайли за обект:</span>
			<img src="images/loading.gif" ng-show="locationsLoading" height="30" width="30"/>
		</div>
	
		<form name="updateLocation"  enctype="multipart/form-data" id="updateLocation" action="api/v1/update-locations" method="POST">
			<input type="hidden" id="formData" name="formData" value="">
			<input type="hidden" id="id" name="id" value="">
			<div id="status"></div>
			<table style="width:100%; margin:15px">
					<tr><td rowspan="3" style="width:110px"><img id="img" name="img" width="160px" height="90px" src=""/></td>
						<td valign="top" align="left"><input class="form-control-short" name='name' id="name" disabled="disabled" placeholder="Име на обекта"></td>
						<td align="right" style="padding-right: 15px"><input type="button" value="Редактиране" onclick="switchEditMode(this)"></td>
					</tr>
				<tr>
					<td colspan="2"><input class="form-control-medium"
						name='description' id='description' disabled="disabled"
						placeholder="Поставете описание на обекта"></td>
					<td></td>
				</tr>
				<tr><td colspan="3">
					<input id="fileupload" type="file" name="file" disabled="disabled">
					<iframe id='my_iframe' name='my_iframe' src=""></iframe>
					</td>
				</table>
			<div class="panel-body" id="formBody"></div>

			<div style="padding-left: 15px">
				<div id="errorMessage" class="errorMessage"></div>
				<span>
					<button type="button" class="btn btn-default" id="submitButton"
						onclick="redirect()" disabled="disabled">Запази</button> <img
					src="images/loading.gif" id="loading" height="30" width="30"
					style='display: none; valign: top' />
				</span>
			</div>
		</form>
	</div>